
# port for tomp2p to use DO NOT CHANGE
port_server=5002

# port for the rest interface of greg
port_dht=5001

# list of known hosts running a greg daemon. MUST be a valid and running host
known_hosts=192.168.1.64

# network interface to use
network_interface=eth0

# determines if this instance should attempt to connect to an existing dht or bootstrap an isolated one DO NOT CHANGE
new_dht_system=0

# path for the log files
log_path=/usr/local/gReg/log

#blockchain certification active
blockchain_active=1

# blockchain certificates client
bc_client=localhost:8080

# peer ID
peer_id=0x963198c3906758f766e428468ed05d9da77a601f
